.content.search {
  .container {
    margin-top: 40px;
    @media (min-width: 960px) {
      display: flex;
      .sidebar {
        flex: 0 0 260px;
        margin-right: 40px;
      }
    }
  }
}

.filter {
  margin-bottom: 20px;
  h3 {
    background: #081c24;
    color: #fff;
    padding: 20px;
    margin: 0;
    font-weight: normal;
  }
  border: 1px solid #ccc;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      position: relative;
      &.selected,
      &:hover {
        background: rgba(0, 0, 0, 0.08);
        & span {
          background: #fff;
        }
      }
      &.selected {
        a {
          font-weight: bold;
        }
      }
      a {
        padding: 20px;
        display: block;
        text-decoration: none;
        color: #333;
      }
      span {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;
        align-items: center;
        font-size: 0.8em;
        font-weight: 300;
        font-family: "Roboto Mono", monospace;
        background-color: rgba(0, 0, 0, 0.08);
        padding: 0px 10px;
        border-radius: 8px;
      }
    }
  }
}

.results {
  .top {
    display: flex;
    margin: 0 0 20px;
    select {
      margin-left: auto;
      border: 1px solid #ccc;
      padding: 5px;
    }
  }
  .card {
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 10px;
    .poster {
      img {
        max-width: 100px;
        display: block;
      }
    }
    .details {
      width: 100%;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      .title {
        h3 {
          margin: 0;
          span {
            font-weight: normal;
            margin-left: 5px;
            font-size: 0.9em;
          }
        }
      }
      .release_date {
        color: #999;
        font-size: 0.9em;
      }
      .overview {
        margin-top: 20px;
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          margin: 0;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
      list-style: none;
      &.disabled {
        display: none;
      }
      &.selected a {
        background: #eee;
      }
      a {
        padding: 1px 8px;
        border-radius: 3px;
        font-size: 0.9em;
        margin: 2px;
        border: 1px solid #ccc;
        cursor: pointer;
        outline: 0 none;
        display: block;
      }
    }
  }
}
