header.main {
  background: #081c24;
  padding: 25px 0 10px;
  .container {
    display: flex;
    a.logo {
      max-width: 82px;
      display: block;
      img {
        width: 100%;
      }
    }
    nav.main {
      display: none;
      margin: 10px;
      @media (min-width: 650px) {
        display: flex;
      }
      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        padding: 15px 18px;
        text-transform: uppercase;
        transition: all 0.15s ease-in-out;
        &:hover {
          color: #01d277;
        }
      }
    }
  }
}
