.movie-search {
  .container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
  }
  main.content {
    .intro {
      display: flex;
      flex-wrap: wrap;
      h2 {
        margin: 40px 0 10px;
      }
      img {
        width: 100%;
      }
      .col {
        width: 100%;
        @media (min-width: 400px) {
          flex: 0 0 50%;
        }
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 1100px) {
          img {
            flex: 0 0 50%;
          }
        }
      }
      img {
        display: block;
      }
    }
    &.discover {
      margin-top: 40px;
    }
  }
}
