.movie-search {
  .container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 20px;
  }
  header.main {
    background: #081c24;
    padding: 20px 0 10px;
    a.logo {
      max-width: 80px;
      display: block;
      img {
        width: 100%;
      }
    }
  }
  .form-wrapper {
    border-bottom: 1px solid #ddd;
    form {
      display: flex;
      overflow: hidden;
      padding: 10px;
      .icon-search {
        opacity: 0.5;
        transition: all 0.15s ease-in-out;
        :hover > & {
          opacity: 1;
        }
      }
      input {
        font: inherit;
        padding: 0 10px;
        flex: 0 0 calc(100% - 100px);
        outline: 0 none;
        border: 0 none;
      }
    }
  }
  .sub-header {
    display: flex;
    .col {
      background: #000;
      flex: 0 0 50%;
      padding: 10px;
      text-align: center;
      a {
        text-decoration: none;
        color: #fff;
      }
      h2,
      p {
        margin: 5px 0;
      }
      &.left {
        background: radial-gradient(
          at 30% top,
          rgba(31, 40, 73, 1) 0%,
          rgba(8, 28, 36, 1) 70%
        );
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          background-position: -40px -500px;
          background-image: url(https://www.themoviedb.org/assets/2/v4/account_pipes/purple-63b164a075461641b7ef444ea97d9787adf45a9552fe215e20063e3ff02491a8.svg);
        }
      }
      &.right {
        background-color: #fcbaec;
        background-image: url(https://www.themoviedb.org/assets/2/v4/taw/2019/WelcomeConfetti-355141b29e6dd8e587e0c138683073c54ff0dc3427eba3b8f908bd0de66e0a45.svg);
        background-repeat: no-repeat;
        background-position: center -40px;
        background-size: 100%;
        a {
          color: #090170;
        }
      }
    }
  }
  main.content {
    .intro {
      display: flex;
      flex-wrap: wrap;
      img {
        width: 100%;
      }
      .col {
        width: 100%;
        @media (min-width: 400px) {
          flex: 0 0 50%;
        }
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 1100px) {
          img {
            flex: 0 0 50%;
          }
        }
      }
      img {
        display: block;
      }
    }
  }
}
